{% extends 'app/layout.html' %}
{% block content %}
<div class="container"><!-- this is main body container -->
{% if latest_post_list %}
<div class="row"><!-- this is each row-->
    {% for post in latest_post_list %}
    <div class="listing_item">
        <figure><!--Use small image file name-->
            <img src="static/images/LIST_ITEM_IMG" alt="{{ post.title }}"></img>
            {% if post.sale is True %}
            <figcaption class="sale_price">${{ post.temporary_price }}</figcaption>
            <figcaption class="old_price">${{ post.price }}</figcaption>
            {% else %}
            <figcaption class="normal_price">${{ post.price }}</figcaption>
            {% endif %}
        </figure>
    </div><!-- end each post -->
    {% endfor %}
</div><!-- end row -->
{% endif %}
</div><!--End Main body -->
{% endblock %}